#container{
  background-color: black;
}

#container2{
  width: 75%;

  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  
  
  }
  
#topo{
  text-align: center;
  background-color:  rgb(0, 0, 0);
  border-color: blue;
  border-style: outset;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 1px;
  font-size: 19px;
  color: blue;
  
}

#img1{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.secao{
  font-size: large;
  margin-top: 40px;
  background-color: rgb(93, 93, 93);
  padding: 45px;
  border-radius: 10px;
}

h2{
  
  text-decoration: underline;
  color: rgb(189, 189, 189);
}

ul{
  list-style: none;
}

li::before {content: "•"; color: blue}

footer{
padding: 40px;
margin-top: 30px;
background-color: rgb(0, 0, 0);
text-align: center;

font-size: medium;
}
